@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <div>
        Data has been posted.<br />
        Posted at: @Html.Raw(ViewBag.Start) <br />
        Printed at: @Html.Raw(ViewBag.End)
    </div>
</body>
</html>
